@model SocialNetworkingApp.ViewModels.CreatePostViewModel
<div class="col-md-8">
    <div class="card">
        <div class="card-body">
            <form asp-controller="Post" asp-action="CreatePost" id="newPostForm" enctype="multipart/form-data">
                <input hidden asp-for="From" />
                <input hidden asp-for="PostTypeId" />
                <input hidden asp-for="ProjectId" />
                <input hidden asp-for="CommunityId" />
                <div class="form-group">
                    <label asp-for="Text" class="control-label">Что у вас нового?</label>
                    <div class="image-preview-0">
                        <span id="imagePreview-0"></span>
                        <button type="button" class="btn btn-light btn-sm" id ="clear-image-0" style="display:none;"><i class="bi bi-x"></i></button>
                    </div>
                    <textarea asp-for="Text" class="form-control" rows="5" wrap="soft" style="resize: none;"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>

                

                @* <div class="d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-primary">Опубликовать</button>
                    <a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapse-0" role="button" aria-expanded="false" aria-controls="collapse-0">
                        <i class="fas fa-camera"></i>
                    </a>
                    <button type="button" id="emoji-btn" class="btn btn-light btn-sm">😊</button>
                    
                </div> *@
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Кнопка Опубликовать слева -->
                    <button type="submit" class="btn btn-primary">Опубликовать</button>

                    <!-- Контейнер для остальных кнопок справа -->
                    <div class="ml-auto d-flex">
                        <a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapse-0" role="button" aria-expanded="false" aria-controls="collapse-0">
                            <i class="fas fa-camera"></i>
                        </a>
                        <button type="button" class="btn btn-light btn-sm emoji-btn">😊</button>
                    </div>
                </div>

                <div class="collapse" id="collapse-0">
                    <label for="input-image-0" class="btn btn-light btn-sm" style="margin-top: 5px;">
                        Загрузить фото с устройства
                        <input asp-for="Image" hidden id="input-image-0" accept=".jpeg,.jpg,.png,.gif" style="display:none">
                    </label>
                    <label for="take-image-0" class="btn btn-light btn-sm" style="margin-top: 5px;" data-bs-toggle="modal" data-bs-target="#modalToggle-post-0">
                        <input asp-for="ImagePath" hidden id="take-image-0" accept=".jpeg,.jpg,.png,.gif" style="display:none">
                        Выбрать фото из альбома
                    </label>
                </div>

                <div class="modal fade" id="modalToggle-post-0" tabindex="-1" role="dialog" aria-labelledby="modalToggleLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalToggleLabel">Изображения пользователя</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row" id="imageContainer-0">
                                    <!-- Здесь будут отображаться изображения -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="emoji-picker" style="display: none; position: absolute; background: white; border: 1px solid #ccc; padding: 5px;
                width: 250px; height: 200px; overflow-y: auto; border-radius: 5px; box-shadow: 2px 2px 10px rgba(0,0,0,0.2); top: 100%; left: 0; z-index: 10;">
            </div>
        </div>
    </div>
</div>







