@using SocialNetworkingApp.Data
@using SocialNetworkingApp.Interfaces
@inject IMessageRepository messageRepository
@inject IUserService userService

@{
   
    bool hasNewMessages = false;

    if (User.Identity.IsAuthenticated)
    {
        var user = await userService.GetUserByUserNameAsync(User.Identity.Name);
        // Проверка на наличие новых сообщений
        hasNewMessages = await messageRepository.HasUnreadMessages(user.Id);
    }
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Социальная сеть студенческих сообществ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SocialNetworkingApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 align-content-center">
            @if(User.Identity.IsAuthenticated) 
            {
                if (User.IsInRole(UserRoles.User))
                {
                    <a class="navbar-brand ml-auto" asp-controller="Feed" asp-action="Index">Социальная сеть студенческих сообществ</a>
                }
                else if (User.IsInRole(UserRoles.Admin))
                {
                    <a class="navbar-brand ml-auto" asp-controller="Admin" asp-action="Index">Социальная сеть студенческих сообществ</a>
                }
            }
            else
            {
                <a class="navbar-brand mx-auto" asp-controller="Feed" asp-action="Index">Социальная сеть студенческих сообществ</a>
            }
            
            <div class="mr-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if(User.Identity.IsAuthenticated)
                {
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div style="margin-left: 70px;">
                            <div class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </nav>

    </header>
    <main>
        <div class="container">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="row">
                    @if (User.IsInRole(UserRoles.User))
                    {
                        <div class="col-md-2">
                            <div class="d-flex justify-content-center justify-content-md-start sticky">
                                @await Html.PartialAsync("_MenuPartial", hasNewMessages)
                            </div>
                        </div>
                        <div class="col-md-10">
                            @RenderBody()
                        </div>
                    }
                    else if (User.IsInRole(UserRoles.Admin))
                    {
                        @RenderBody()
                    }
                </div>
            }
            else
            {
                <div class="row">
                    @RenderBody()
                </div>
            }

        </div>
    </main>
    
    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SocialNetworkingApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    main {
        position: relative; 
    }
    .sticky {
        position: sticky;
        top: 70px;
    }

    html {
        overflow-y: scroll; 
    }
</style>