@model SocialNetworkingApp.ViewModels.CreatePostViewModel
<div class="col-md-8">
    <div class="card">
        <div class="card-body">
            <form asp-action="CreatePost" id="newPostForm" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Text" class="control-label">Что у вас нового?</label>
                    <div class="image-preview">
                        <span id="imagePreview"></span>
                        <button type="button" class="btn btn-light btn-sm" id="clearImage" style="display:none;"><i class="bi bi-x"></i></button>
                    </div>
                    <textarea asp-for="Text" class="form-control" rows="4" style="resize: none;"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-primary">Опубликовать</button>
                    
                    <label for="inputGroupFile" class="btn btn-light btn-sm">
                        <i class="fas fa-camera"></i>
                        <input asp-for="Image" hidden id="inputGroupFile" accept="image/*" style="display:none">
                    </label>
                    
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .image-preview {
        text-align: center;
        margin-bottom: 10px;
        position: relative;
    }

    .image-preview button {
        position: absolute;
        top: 0;
        right: 0;
    }

    .image-preview img {
        max-width: 100%;
        max-height: 400px; 
        width: auto;
        height: auto;
    }
</style>




