@using Microsoft.AspNetCore.Mvc.Rendering
@model SocialNetworkingApp.ViewModels.CreateProjectViewModel

@section Scripts {
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Подключение Bootstrap-select CSS и JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <script>
        $(document).ready(function () {
            // Функция для обновления видимости полей Fundraising, в зависимости от выбранного типа проекта
            function toggleFundraisingFields() {
                var selectedType = $('#TypeId option:selected').text();  // Получаем текст выбранного типа проекта
                if (selectedType === 'Стартап') {  // Проверяем, равен ли текст "Стартап"
                    $('#FundraisingFields').show();
                } else {
                    $('#FundraisingFields').hide();
                }
            }

            // При загрузке страницы скрыть поля, если выбран не стартап
            toggleFundraisingFields();

            // Обработчик изменения значения типа проекта
            $('#TypeId').change(function () {
                toggleFundraisingFields();
            });
        });
    </script>
}

@{
    ViewData["Title"] = "Создание проекта";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Создание проекта</h1>
            <div class="card">
                <div class="card-body">
                    <form asp-controller="Project" asp-action="Create" method="post">
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label asp-for="Title" class="control-label">Название проекта</label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Описание</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Goal" class="control-label">Цель проекта</label>
                            <textarea asp-for="Goal" class="form-control"></textarea>
                            <span asp-validation-for="Goal" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="StatusId" class="control-label">Статус проекта</label>
                            <select asp-for="StatusId" class="form-control" asp-items="Model.Statuses"></select>
                            <span asp-validation-for="StatusId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="TypeId" class="control-label">Тип проекта</label>
                            <select asp-for="TypeId" class="form-control" asp-items="Model.Types"></select>
                            <span asp-validation-for="TypeId" class="text-danger"></span>
                        </div>

                        <!-- Поля для Fundraising скрываются/показываются в зависимости от типа проекта -->
                        <div id="FundraisingFields" style="display:none;">
                            <div class="form-group">
                                <label asp-for="FundraisingGoal" class="control-label">Целевая сумма сбора средств</label>
                                <input asp-for="FundraisingGoal" class="form-control" type="number" step="1000" min="0" />
                                <span asp-validation-for="FundraisingGoal" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="FundraisingProgress" class="control-label">Текущая собранная сумма средств</label>
                                <input asp-for="FundraisingProgress" class="form-control" type="number" step="1000" min="0" />
                                <span asp-validation-for="FundraisingProgress" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Создать проект</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

