@using Microsoft.AspNetCore.Mvc.Rendering
@model SocialNetworkingApp.ViewModels.CreateCommunityViewModel

@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Подключение Bootstrap JS (jQuery также должен быть подключен перед ним) -->
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Подключение Bootstrap-select CSS и JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
}

@{
    ViewData["Title"] = "Создание сообщества";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Создание сообщества</h1>
            <div class="card">
                <div class="card-body">
                    <form asp-controller="Community" asp-action="Create" method="post">
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label asp-for="Title" class="control-label">Название сообщества</label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Описание</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="TypeId" class="control-label">Тип проекта</label>
                            <select asp-for="TypeId" class="form-control" asp-items="Model.Types"></select>
                            <span asp-validation-for="TypeId" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

