﻿@using Microsoft.AspNetCore.Identity
@model SocialNetworkingApp.ViewModels.RegisterViewModel

@section Scripts {
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Подключение Bootstrap-select CSS и JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
}

@{
    ViewData["Title"] = "Регистрация";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Создание учетной записи</h1>
            @if (TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>Извините!</b> - @TempData["Error"]</span>
                </div>
            }
            <div class="card">
                <div class="card-body">
                    <form asp-action="Register" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label">Введите имя</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName" class="control-label">Введите фамилию</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="City" class="control-label">Введите ваш город</label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="BirthDate" class="control-label">Дата рождения</label>
                            <input asp-for="BirthDate" class="form-control" />
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="IsMale" class="control-label">Пол</label>
                            <br />
                            <div class="form-check form-check-inline">
                                <input asp-for="IsMale" type="radio" value="@true" class="form-check-input" />
                                <label class="form-check-label" for="maleRadio">Мужской</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="IsMale" type="radio" value="@false" class="form-check-input" />
                                <label class="form-check-label" for="femaleRadio">Женский</label>
                            </div>
                            <br />
                            <span asp-validation-for="IsMale" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Введите адрес электронной почты</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Введите пароль</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label">Подтвердите пароль</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
